<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>6eabf68e-760e-11e9-bd82-0242ac140006</string>
	<key>WebSocketAdderss</key>
	<string>wss://server.affectivecloud.cn/ws/algorithm/v1/</string>
	<key>AppSecret</key>
	<string>68a09cf8e4e06718b037c399f040fb7e</string>
</dict>
</plist>
